@font-face {
    font-family: 'Louis George Cafe\'';
    src: url('../font/LouisGeorgeCafeLight.eot');
    src: url('../font/LouisGeorgeCafeLight.eot?#iefix') format('embedded-opentype'),
        url('../font/LouisGeorgeCafeLight.woff2') format('woff2'),
        url('../font/LouisGeorgeCafeLight.woff') format('woff'),
        url('../font/LouisGeorgeCafeLight.ttf') format('truetype'),
        url('../font/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe\'';
    src: url('LouisGeorgeCafe-Bold.eot');
    src: url('LouisGeorgeCafe-Bold.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe-Bold.woff2') format('woff2'),
        url('LouisGeorgeCafe-Bold.woff') format('woff'),
        url('LouisGeorgeCafe-Bold.ttf') format('truetype'),
        url('LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe\'';
    src: url('LouisGeorgeCafe.eot');
    src: url('LouisGeorgeCafe.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe.woff2') format('woff2'),
        url('LouisGeorgeCafe.woff') format('woff'),
        url('LouisGeorgeCafe.ttf') format('truetype'),
        url('LouisGeorgeCafe.svg#LouisGeorgeCafe') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

