@font-face {
    font-family: 'iconfont';
    src: url('../icon-font/font/iconfont.eot?96952957');
    src: url('../icon-font/font/iconfont.eot?96952957#iefix') format('embedded-opentype'),
         url('../icon-font/font/iconfont.woff2?96952957') format('woff2'),
         url('../icon-font/font/iconfont.woff?96952957') format('woff'),
         url('../icon-font/font/iconfont.ttf?96952957') format('truetype'),
         url('../icon-font/font/iconfont.svg?96952957#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'iconfont';
      src: url('../font/iconfont.svg?96952957#iconfont') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-arrow-right:before { content: '\e800'; } /* '' */
  .icon-block:before { content: '\e801'; } /* '' */
  .icon-home:before { content: '\e802'; } /* '' */
  .icon-search:before { content: '\e803'; } /* '' */
  .icon-card:before { content: '\e804'; } /* '' */
  .icon-plus:before { content: '\e805'; } /* '' */
  .icon-setting:before { content: '\e806'; } /* '' */
  .icon-chart:before { content: '\e807'; } /* '' */
  .icon-pincode:before { content: '\e808'; } /* '' */
  .icon-atm:before { content: '\e809'; } /* '' */
  .icon-send-1:before { content: '\e814'; } /* '' */
  .icon-loan:before { content: '\e832'; } /* '' */
  .icon-download:before { content: '\f02e'; } /* '' */
  .icon-3dots:before { content: '\f142'; } /* '' */
  .icon-request:before { content: '\f15c'; } /* '' */
  .icon-back:before { content: '\f177'; } /* '' */
  .icon-bank:before { content: '\f19c'; } /* '' */
  .icon-filter:before { content: '\f1de'; } /* '' */
  .icon-pig:before { content: '\f308'; } /* '' */