// reset
@import "reset";
@import "icon-font";
@import "font";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Louis George Cafe';

    &:focus {
        outline: 0;
    }
}
html,body{
    height: 100%;
}
body {
    background: #1A212A;
}
.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}